/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start Variables */

:root {
    --main-color: #00b4d8;
    --secondary-color: #ffb703;
    --tcolr:#e7ecef;
    --section-padding: 60px;
    --main-duration: 0.5s;
}

/* End Variables */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
}

/* Small */

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  /* End Global Rules */
/* end Global Rules */
